/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	list-style-type: none;
}
html{
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea{
	resize: none;
}
.p-0{
	padding: 0;
}
.height{
	height: 250px !important;
}
.max-height{
	height: 400px !important;
}
.fs-12{
	font-size: 12px !important;
}
.fs-10{
	font-size: 10px !important;
}
.bg-white{
	background-color: #ffffff !important;
}
.h-200{
	height: 200px !important;
}
.h-500{
	height: 500px !important;
}

.box-shadow{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bg-color-primary{
	background-color: #0171CD;
	
}